*{
    padding: 0;
    margin: 0;
}

/*Header*/
#main-header{       
    background-color: rgb(0, 0, 0); 
    position: sticky; /*Mantengo el Header visible al bajar*/
    top: 1px;   
    z-index: 1;     
    padding: 5px;
    width: auto;
    & .logoempresa{     
        width: 240px;
        height: 100px;       
    }
    & .navslogan{     
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        color: whitesmoke; 
        padding-top: 25px;   
        padding-bottom: 25px;
        width: auto;  
        text-align: center; 
    }
    & .navbarlist{       
        display: flex;
        justify-content: space-around;       
        width: 90%; 
        list-style-type: none;       
    }
    /*Al pasar el mouse que se pinte*/
    & .navbarlist li a:hover{
        background-color: orange;       
    }
    & .navbarlist a{    
        text-decoration: none;
        text-align: center; /*Centro el texto*/    
        font-size: 20px;
        color: white;
        padding: 2px;
        display: block; /*Ocupa todo el Ancho de la barra NAV para evitar que se superponga el sombreado del item*/
        border-radius: 5px;
        transition: 1.5s;  
    }
    
    & .menubtn{
        font-size: 30px;/*Le doy tamaño al icono menu*/
        background-color: white;
        cursor: pointer;/*Coloco un dedo al posicionarme sobre el boton*/
        display: none;/*Oculto el menu boton*/
    }
    
    #check{
        display: none;
    }
}